<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Taskmin | Minimalist Task Management</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet"
        type="text/css"
        href="/css/remake.css">
  <link rel="stylesheet"
        type="text/css"
        href="/css/main.css">
</head>

<body>
  <nav class="nav">
    <div class="nav__container container">
      <a class="logo"
         href="{{#if currentUser}}/{{currentUser.details.username}}{{else}}/{{/if}}">
        <img class="logo__image"
             src="/images/logo.svg">
        <span class="logo__text">Taskmin</span>
      </a>
      {{#if currentUser}}
      <div class="nav__user">
        <div>
          Signed in as
          <a class="nav__user-link"
             href="{{currentUser.details.username}}"
             class="nav__user">{{currentUser.details.username}}
          </a>
        </div>
        <a class="btn btn--primary nav__button"
           href="/user/logout">Logout</a>
      </div>
      {{else}}
      <div class="nav__user">
        <a class="nav__link"
           href="/user/login">Log in</a>
        <a class="btn btn--primary nav__button"
           href="/user/signup">Sign up</a>
      </div>
      {{/if}}
    </div>
  </nav>
  <main>
    {{> yield }}
  </main>
  {{#if isPageAuthor}}
  {{!-- Prevent loading the Remake framework if the page isn't editable --}}
  <script src="/js/remake-init.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
</body>

</html>